{
  "endOfLine": "auto",
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-pkg"],
  "overrides": [
    {
      "files": ["./apps/mobile/locales/*.json"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"],
        "jsonRecursiveSort": true
      }
    }
  ]
}
